@font-face {
  font-family: awesomeIcons;
  font-weight: normal;
  src: url('/fontawesome-webfont.woff') format('woff');
}

.glasspane {
  background-color: rgba(0, 0, 0, 0.1);
  /*
  FIXME doof, ich komme nicht einfach an die LESS sachen vom Scour Core ran :-(
  #scout.animation(fadeIn ease-in 1);
  #scout.animation-duration(0.25s);
  */
  -webkit-animation: fadeIn ease-in 1;
  animation: fadeIn ease-in 1;

  -webkit-animation-duration: 0.25s;
  animation-duration: 0.25s;
}